[Unit]
Description=Vexel-app Deployment Example
After=network.target

[Service]
User=root
WorkingDirectory=/home/ec2-user/flask-app/app
ExecStart=/usr/bin/python3 app.py
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=flask-app

[Install]
WantedBy=multi-user.target
